*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        padding: 50px;
        background-color: #303030;
    }
    .card{
        margin: 50px 0;
        height: 60vh;
        padding: 40px;
        background-color: rgb(33,33,33);
        border: 2px solid#ffffff7d;
        color: #ffffff;
        transform: translateY(50%);
        opacity: 0;
        transition: 0.6s ease;
        font-size: 2rem;
        border-radius: 20px;

    }
    .card.show{
        transform: translateY(0);
        opacity: 1;
    }